@yellow: #fffa19;
@red: #f31e10;
@green: #06c138;
@blue_under: #EBF9FF;

.margenes(@top: 0px, @bottom: 0px){	
	margin-top: @top;
	margin-bottom: @bottom;	
}

.padding(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
	padding-top: @top;
	padding-right: @right;
	padding-bottom: @bottom;
	padding-left: @left;
}



.jumbotron {
  background-color: @yellow;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; 
}

footer {
  padding: 10px 10px 0px 10px;
  background-color: @yellow;
  margin-top: 10px;
  margin-bottom: 0px; 
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; 
}

.btn-reserva {
  width: 100%;
  border-radius: 0px; 
}

.footer-addres-icon {
  .padding(0px, 10px, 0px, 0px);	
}

.tab-content {
  .padding(10px, 0px, 0px, 0px);
}

body {
  background-color: @blue_under; 
}

.card {
  background-color: @blue_under; 
}