$yellow: #fffa19;
$red: #f31e10;
$green: #06c138;
$blue_under: #EBF9FF;

@mixin margenes($top, $bottom){	
	margin-top: $top;
	margin-bottom: $bottom;	
}

@mixin padding($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}

.jumbotron {
	background-color: $yellow;
	color: black;	
	@include margenes(50px, 0px);
}

footer{
	padding: 10px 10px 0px 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);	
}

.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px);	
	
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-addres-icon{	
	@include padding(0px, 10px, 0px, 0px);	
	
}

.tab-content{
	@include padding(10px, 0px, 0px, 0px);	
}

body{
	background-color: $blue_under;
}

.card{
	background-color: $blue_under;
}